/dist/
/build/
/src/__pycache__/
/src/pywoffice/__pycache__/
/src/pywoffice/odt/__pycache__/
/src/pywoffice/html/__pycache__/
/src/pywoffice/manager/__pycache__/
/src/pywoffice/model/__pycache__/
/test/__pycache__/
/tools/__pycache__/
/test/yw7/
